<div id="loginBox">
    <div class="col-md-offset-4 col-md-4">
        <form class="form-horizontal">
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Chat Room">
            <p class="text-center"><a href="#">View available chat rooms</a></p>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default btn-lg btn-block">Sign In</button>
          </div>
        </form>
    </div>
</div>
