<!--** Login View Template **-->
<div class="row centerIt" ng-controller="loginCtrl">
    <div id="loginBox" class="col-md-offset-4 col-md-4">
      <h4>Login</h4>
        <form class="form-horizontal" ng-submit="signIn(cred)">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" ng-model="cred.username" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Chat Room" ng-model="cred.chatRoom" required>
          </div><br>
          <div class="form-group">
            <button type="submit" class="btn btn-danger btn-block">Sign In</button>
          </div>
        </form>
    </div>
</div>
